.hangman {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    /* width: 70%; */
}

.setting {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    /* margin: 0 auto; */
}

.button {
    width: 100px;
    height: 35px;
    margin: 0 auto;
    border-radius: 15px;
    border-style:none;
    background-color: #2b2a2a;
    color: #BDBDBD;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    padding: 0px;
}

.user_setting {
    width: 100px;
    height: 35px;
    margin: 0 auto;
    border-radius: 15px;
    border-style:none;
    background-color: #2b2a2a;
    color: #BDBDBD;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    padding: 0px;
    margin: 12px;
    /* margin-bottom: 20px; */
}

.dt {
    margin-bottom: 10px;
    /* margin-top: 10px; */
}

.num_of_chars_box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #545151;
    border-radius: 5px;
    background: #121212;
    color: #e4dfdf;
    font-size: 1.2rem;
    font-weight: bold;
    width: 8%;
    max-width: 300px;
    /* margin: 0 auto; */
    /* margin-left: 0px; */
}

.game_status_and_guess {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
}

.cost {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.entropy {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.guess {
    margin:20px;
}

.letter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 5px; */
    
    background-color: #1b1b1b;
    border: none;
    border-width: 1px;
    border-style: solid;
    border-color:#2b2a2a;
    border-radius: 5px;

    /* width: 1.5rem; */
    /* height: 30px; */
    
    color: #e4dfdf;
    font-size: 1.2rem;
    cursor: pointer;

    /* padding-top: 1.2rem; */
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: auto;
}

@media (max-width: 768px) {
    .settings {
        flex-direction: column;
    }
    .letter {
        padding: 0.3rem;
    }
}