.hangman {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    /* width: 70%; */
}

.setting {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    max-width: 220px;
}

.button {
    width: 100px;
    height: 40px;
    margin: 0 auto;
    border-radius: 15px;
    border-style:none;
    background-color: #2b2a2a;
    color: #BDBDBD;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    padding: 0px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.user_setting {
    width: 100px;
    height: 35px;
    margin: 0 auto;
    border-radius: 15px;
    border-style:none;
    background-color: #2b2a2a;
    color: #BDBDBD;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    padding: 0px;
    margin: 12px;
    /* margin-bottom: 20px; */
}

.dt.hide_at_start {
    margin-bottom: 20px;
    margin-top: 5px;
}
.dt.upper {
    margin-bottom: 20px;
    margin-top: 5px;
}

.guess_and_cost {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-top: 10px;
}

.hide_at_start {
    display: none; /* or any other styles you want to apply */
    margin: 0 auto;
}

.num_of_chars_box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    border: 1px solid #545151;
    border-radius: 5px;
    background: #121212;
    color: #e4dfdf;
    font-size: 1.2rem;
    font-weight: bold;
    width: 10%;
    max-width: 300px;
    margin-left: 15px;
}

.white-mode .num_of_chars_box {
    background: hsl(46, 20%, 83%);
    color: #6d3b3b;
    border: none;
}

.white-mode .button {
    background-color: hsl(46, 20%, 83%);
    color: #6d3b3b;
}

.white-mode .user_setting {
    background-color: hsl(46, 20%, 83%);
    color: #6d3b3b;
}

.white-mode .button.hide_at_start {
    background-color: hsl(46, 20%, 83%);
    color: #6d3b3b;
}

.white-mode .letter {
    background-color: hsl(46, 20%, 83%);
    color: #6d3b3b;
    border: none;
}

.game_status_and_guess {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
}

.cost {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.entropy {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.guess {
    margin:15px;
}

.letter {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #1b1b1b;
    border: none;
    border-width: 1px;
    border-style: solid;
    border-color:#2b2a2a;
    border-radius: 5px;
    
    color: #e4dfdf;
    font-size: 1.2rem;
    cursor: pointer;

    /* padding-top: 1.2rem; */
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 1.6rem;
}

@media (max-width: 768px) {
    .guess_and_cost {
        flex-direction: column;
    }
    .settings {
        flex-direction: column;
    }
    .letter {
        padding: 0.3rem;
    }
    .button {
        margin-top: 15px;
    }
    .guess, .entropy, .cost {
        margin: 10px;
    }
}