.sdr-image {
    display: block;
    margin: 0 auto;
    justify-content: center;
    width: 40%;
    margin-top: 30px;
    margin-bottom: 30px;
    object-fit: contain;
    border-radius: 10px; 
}

.gallery {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.left-side {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.right-side {
    flex: 1;
    display: flex;
}

.image3 {
    width: 100%;
    height: 100%;

    object-fit: contain;
    border-radius: 10px; 
}

.left-side .image3 {
    height: 40%; 
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .gallery {
        flex-direction: column;
    }

    .sdr-image {
        width: 80%;
    }
}