.sdr-image {
    display: block;
    margin: 0 auto;
    justify-content: center;
    width: 40%;
    margin-top: 30px;
    margin-bottom: 30px;
    object-fit: contain;
    border-radius: 12px;
}

@media (max-width: 768px) {
    .sdr-image {
        width: 80%;
    }

    .content {
        text-align:justify;
        font-size: 16px;
      }
}