body {
    margin: 0;
    padding: 20px;
    background-color: #121212;
    color: #BDBDBD;
    font-family: 'Lato', sans-serif;
}

body.white-mode {
    background-color: hsl(40, 63%, 93%);
    color: #6d3b3b;
}

h1 {
    font-size: 38px;
    text-align: left;
    padding-top: 50px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.container a {
    text-decoration: none;
    color: #ffffff;
}

.container a:hover,
.nav a:hover {
    text-decoration: underline;
}

.container.white-mode a {
    color: #6d3b3b;
}

.nav {
    display: flex;
    align-items: center;
    font-size: 21px;
    text-align: left;
    margin-top: 10px;
}

.nav a {
    color: #636363;
    text-decoration: none;
    margin-right: 3%;
    font-size: 24px;
}



/* Here on is the styles for the projects navigation menu */

.dropbtn {
    background-color: transparent;
    color: #636363;
    border: none;
    cursor: pointer;
    margin: auto;
    padding: 0;
    position:relative;
    font-size: 24px;
    height: 29px;
}

.dropbtn:hover, .dropbtn:focus {
    text-decoration: underline;
}

.dropdown {
    margin-top: 0;
    margin-right: 3%;
    position: relative;
    display: inline-block;
    font-size: 24px;
    height: 29px;
}

.dropdown-content {
    display: none;
    position:absolute;
    background-color: #636363;
    min-width: 120px;
    left: 50%;
    transform: translateX(-50%);
    overflow: auto;
    z-index: 1;
    border-radius: 0px 0px 10px 10px;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}


@media (max-width: 768px) {
    h1 {
        font-size: 35px;
        text-align: left;
        padding-top: 30px;
        text-align: center;
    }

    .nav {
        display: none;
    }
}