body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #121212;
    color: #BDBDBD;
    font-family: 'Lato', sans-serif;
}

body.white-mode {
    background-color: hsl(40, 63%, 93%);
    color: #6d3b3b;
}

h1 {
    font-size: 38px;
    text-align: left;
    padding-top: 50px;
}

.container {
    max-width: 1000px;
    min-width: 95%;
    margin: 0 auto;
    padding: 20px;
    flex-grow: 1;
}

.container a {
    text-decoration: none;
    color: #ffffff;
}

.container a:hover,
.nav a:hover {
    text-decoration: underline;
}

.container.white-mode a {
    color: #6d3b3b;
}

.nav {
    display: flex;
    align-items: center;
    font-size: 21px;
    text-align: left;
    margin-top: 10px;
}

.nav a {
    color: #636363;
    text-decoration: none;
    margin-right: 3%;
    font-size: 24px;
}



/* Here on is the styles for the projects navigation menu */

.dropbtn {
    background-color: transparent;
    color: #636363;
    border: none;
    cursor: pointer;
    margin: auto;
    padding: 0;
    position:relative;
    font-size: 24px;
    height: 29px;
}

.dropbtn:hover, .dropbtn:focus {
    text-decoration: underline;
}

.dropbtn.white-mode {
    color: #6d3b3b;
}

.dropdown {
    margin-top: 0;
    margin-right: 3%;
    position: relative;
    display: inline-block;
    font-size: 24px;
    height: 29px;
}

.dropdown-content {
    display: none;
    position:absolute;
    background-color: #636363;
    min-width: 120px;
    left: 50%;
    transform: translateX(-50%);
    overflow: auto;
    z-index: 1;
    border-radius: 0px 0px 10px 10px;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.dropdown-content.white-mode{
    background-color: #b7b2b2;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.menu-button {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding-left: 5px;
}

.line {
    background-color: #ffffff;
    height: 2px;
    border-radius: 20px;
    margin: 5px;
}

.line.white-mode {
    background-color: #121212;
}

.mobile {
    display: none;
}

.mobile-menu {
    display: none;
    font-size: 21px;
    flex-direction: column;
    min-height: 40vh;
    padding-top: 3vh;
    text-align: center;
    justify-content: space-between;
}

/* Dark mode toggle */

.darkmode-container {
    display: flex;
    align-items: center;
    color: transparent;
}

.desktop-label {
    width: 50px;
    height: 24px;
    position: relative;
    display: block;
    background: #4e4949;
    border-radius: 200px;
    top: 3px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0,4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;
    transition: 0.3s;
}

.desktop-label:after {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    top: 4px;
    left: 4px;
    background: #8d8b89;
    border-radius: 8px;
    transition: 0.3s;
}

.desktop-label:active:after {
    width: 32px;
}

.dark-mode-toggle {
    visibility: hidden;
}

.dark-mode-toggle:checked + label {
    background: #cdd0c3;
}

.dark-mode-toggle:checked + label:after {
    left: 46px;
    transform: translateX(-100%);
    background: #6d3b3b;
}


.footer {
    width: 100%;
    text-align: center;
    font-size: calc(8px + 0.5vw);
    padding: 20px 0;
    color: inherit;
}

.footer p {
    margin: 0;
}

@media (max-width: 768px) {
    h1 {
        font-size: 35px;
        text-align: left;
        padding-top: 30px;
        text-align: center;
    }

    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        padding-left: 5px;
        padding-right: 5px;
    }

    .desktop-label, .desktop-label:after {
        background: transparent;
        height: auto;
    }

    .dark-mode-toggle, .dark-mode-toggle:checked + label {
        background: transparent;
    }

    .darkmode-container {
        color: #ffffff;
    }
    .darkmode-container.white-mode {
        color: #121212;
    }

    .dark-mode-toggle {
        display: none;
    }

    .desktop-label {
        justify-content: center;
        text-align: center;
        margin: 0px;
        position: static;
    }
}