body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  header {
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
  }
  
  header img {
    border-radius: 50%;
    width: 250px;
    height: 150px;
  }
  
  
  h1, h2 {
    margin-bottom: 0.5em;
  }
  
  h2 {
    margin-top: 1.5em;
  }
  
  ul {
    padding-left: 1.5em;
  }
  
  li {
    margin-bottom: 0.5em;
  }
  
  section {
    margin-bottom: 2em;
  }
  
  .contact-info {
    font-size: 0.9em;
  }