html{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie_container {
    display: flex;
}

.box {
    background-color: #95999d;
    color: #000;
    width: 400px;
    height: 650px;
    border: 2px solid #000;
    border-radius: 20px;
    margin: 50px;

    display: flex;
    align-items: center;
}

.genre {
    padding-left: 25px;
}

.sliders {
    padding-left: 60px;
}

.slider {
    width: 180px;
    padding-top: 3.22px;
    padding-bottom: 3.3px;
}

.values {
    display: inline;
    vertical-align: middle;
    padding-left: 15px;
    /* align-items: center; */
    /* height: 2000px; */
}

.value {
    display:inline-block;
    padding-top: 8.2px;
    padding-bottom: 8.3px;
}
